- url = action_name == 'edit' ? dashxxboard_product_path(@product) : dashxxboard_products_path
= form_for @product, url: url, html: {class:"form-horizontal"} do |f|
  - if @product.errors.any?
    #error_explanation
      h2 = "#{pluralize(@product.errors.count, "error")} prohibited this user from being saved:"
      ul
        - @product.errors.full_messages.each do |message|
          li = message

  .form-group
    = f.label :product_name, '产品名', class: 'col-lg-3 control-label'
    .col-lg-7
      = f.text_field :product_name, class: 'form-control'
  .form-group
    = f.label :real_name, '真实名称', class: 'col-lg-3 control-label'
    .col-lg-7
      = f.text_field :real_name, class: 'form-control'
  .form-group
    = f.label :product_type, '产品类型', class: 'col-lg-3 control-label'
    .col-lg-7
      = f.text_field :product_type, value:'货币基金', class: 'form-control'
  .form-group
    = f.label :platform, '平台', class: 'col-lg-3 control-label'
    .col-lg-7
      = f.text_field :platform, class: 'form-control'
  .form-group
    = f.label :url, '来源', class: 'col-lg-3 control-label'
    .col-lg-7
      = f.text_field :url, class: 'form-control' 
  .form-group
    = f.label :fund_code, '编码(天天平台)', class: 'col-lg-3 control-label'
    .col-lg-7
      = f.text_field :fund_code, class: 'form-control'      
  - if action_name == 'edit'
    .form-group
      = f.label :show,'是否显示', class: 'col-lg-3 control-label'
      .col-lg-7
        = f.check_box :show, class: 'form-control'
  .actions = f.submit '保存'
