.container
  .row
     .col-md-12
      = link_to '新产品', new_dashxxboard_product_path, :class => 'btn btn-default pull-left'
      = link_to '更新', fetchAll_dashxxboard_products_path, :class => 'btn btn-default pull-left', method: 'post'

      table.table.table-bordered.table-hover.table-striped              
        tr
          th 
          th 交易平台
          th 包装名
          th 真实名字
          th 收益时间
          th 万份收益
          th 七日年华
          th 趋势          
          th(colspan=3) 操作
        - @products.each_with_index do |product, index|
          tr
            td = product.id
            td = product.platform
            td = link_to product.product_name, dashxxboard_product_path(product)
            td = link_to product.real_name, product.url, target: '_black'
            td = product.yield_date            
            td = product.yield_data
            td = product.nh_data            
            td = product.yield_data_count
            td = link_to '天天', eastmoney_fund_url(product.fund_code), target: '_black'
            td = link_to 'Edit', edit_dashxxboard_product_path(product)
            td = link_to 'Fetch', fetch_dashxxboard_product_path(product), method: :post
