doctype html
html
	head
		meta[chartype='utf-8']
		title 理财小帮手
		= stylesheet_link_tag 'application'
		= javascript_include_tag 'application'
		= csrf_meta_tags

	body		
		.nabar.navbar-fixed-top.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle[type='button' data-toggle="collapse" data-target=".navbar-collapse"]
						span.icon-bar 
						span.icon-bar 
						span.icon-bar 
					//a.navbar-brand[href='#'] 理财宝宝						
				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li = link_to 'Products', dashxxboard_products_path
						li = link_to 'Sidekiq', '/sidekiq', target: '_blank'					
		== yield


